*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    /* background-image:  */
    /* linear-gradient(rgba(4,9,30,0.7),  */
    /* url(./images/image1.jpg); */
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(./images/image1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo{
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
}

.logo-text{
    padding: 2% 6px;
    color: #fff;
}

nav{
    display: flex;
    padding: 2% 6%;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
    font-family: 'Playfair Display', serif;
}

.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background: #6dc066;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 60px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #6dc066;
    background: #6dc066;
    transition: 1s;
}

/* Hide icons for menu on larger screens */
nav .fa-solid{
    display: none;
}

/* What to display on smaller screens */
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #6dc066;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    nav .fa-bars{
        position: fixed;
        top: 10px;
        right: 10px;
        margin: 10px;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/* Courses */

.myCourses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.courseCol{
    flex-basis: 31%;
    background: #ecf8e2;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.courseCol:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* Campus */

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campusCol{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campusCol img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(113, 189, 130, 0.8);

}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 40%;
    opacity: 1;
}

.layer p{
    font-size: 18px;
    width: 100%;
    font-weight: 500;
    color: #fff;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover p{
    bottom: 10%;
    opacity: 1;
}

.layer p {
    font-size: 18px; /* Adjust the font size to your preference */
    bottom: -50px; /* Push the <p> element below the <h3> element */
}

.layer:hover h3 {
    bottom: 40%; /* Adjust the vertical position of the <h3> element */
    opacity: 1;
}

.layer:hover p {
    bottom: 10%; /* Adjust the vertical position of the <p> element */
    opacity: 1;
}

/* Fcilities */

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilitiesCol{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilitiesCol img{
    width: 100%;
    border-radius: 10px;
}

.facilitiesCol h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.testimonialsCol{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: rgba(113, 189, 130, 0.8);
    cursor: pointer;
    display: flex;
    padding: 25px 12px;
    /* box-sizing: border-box; */
}

.testimonialsCol img{
    height: 50px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 40%;
}

.testimonialsCol p{
    padding: 0
}

.testimonialsCol h3{
    margin-top: 15px;
    text-align: left;
}

.testimonialsCol .fa{
    color: #6dc066;
}

@media(max-width: 700px){
    .testimonialsCol img{
        margin-left: 0;
        margin-right: 15px;
    }
}

/* Call To Action */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./images/ctaimage.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 25px;
    }
}

/* Footer */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: rgba(113, 189, 130, 0.8);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart{
    color: rgba(113, 189, 130, 0.8);
}

.fa-github{
    color: rgba(113, 189, 130, 0.8);
    margin-top: 10px;
    font-size: 20px;
}

/* About Page */

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(./images/aboutusimage.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    margin-top: 100px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0 25px;
}

.colored-btn{
    border: 1px solid #6dc066;
    background: transparent;
    color: #6dc066;
}

.colored-btn:hover{
    color: #fff;
}

@media(max-width: 700px){
    .about-us{
        text-align: center;
    }
}

/* Curriculum Page */

.curriculum{
    background-image: url(./images/curriculum-image.jpg);
}

/* Blog Page */

.blog{
    background-image: url(./images/blog-image.jpg);
}
/* 
.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left{
    flex-basis: 65%;
}

.blog-left img{
    width: 100%;
}

.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;

}

.blog-left p{
    color: #999;
    padding: 0;
}

.blog-right{
    flex-basis: 32%;
}

.blog-right h3{
    background: #322653;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
    /* font-weight: 600;
    margin: 30px 0; */
/* }

.blog-right{
    width: 100%;
} */

.blog-content {
    max-width: 1200px; /* Adjust this value as needed */
    margin: 0 auto;
    padding: 20px;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.blog-left,
.blog-right {
    flex: 1;
    flex-basis: 48%;
    padding: 20px;
    box-sizing: border-box;
}


.blog-left img,
.blog-right img {
    max-width: 100%; /* Ensure the images fit well on the viewport */
    height: auto;
}

.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
    align-items: center;
}

/* On smaller viewports, adjust the flex-direction to stack the items */
@media (max-width: 768px) {
    .rows {
        flex-direction: column;
    }
}

.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3{
    text-align: left;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.comment-form button{
    margin: 10px 0;
}

@media(max-width: 700px){
    .sub-header h1{
        font-size: 24px;
    }
}

/* CONTACT US PAGE */

.contact{
    background-image: url(./images/contact-image.jpg);
}

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa-solid{
    font-size: 28px;
    color: #6dc066;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p{
    padding: 0;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}